module github.com/cyberstorm-dev/schemas

go 1.21

require (
	google.golang.org/genproto/googleapis/api v0.0.0-20240814211410-ddb44dafa142
	google.golang.org/grpc v1.69.0
	google.golang.org/protobuf v1.36.0
)